import requests
import re
import time
file=open('result.html', 'w')
file.write('<!DOCTYPE html>\n')
file.write('<html><head><meta http-equiv="Content-Type" content="text/html" charset=UTF-8"></head><body><ul>')
t=int(time.time())*1000
r=requests.get('https://api.meetup.com/2/concierge?key=1d406f385b224a6a1ca3022222a7925&sign=true&photo-host=public&country=us&city=Boston&category_id=34&state=MA')
nt=re.findall(r'"name":"([\w\ \(\)\:]+)","id":"[\w ]+","time"', r.text)
a=re.findall(r'"address_1":"([\w\ \.\&]+)"', r.text)
tim=re.findall(r'"name":"[\w\ \(\)\:]+","id":"[\w ]+","time":([\d]+)', r.text)
for i in range(7):
    file.write('<li>' + str(i) + 'day - '+ str(i+1) +' day \n<ul>\n')
    for j in range(len(nt)):
        if (int(tim[j])<((i+1)*86400000+t)) and (int(tim[j])>(i*86400000+t)):
            date=time.strftime("%a, %d %b %Y %H:%M:%S", time.localtime(float(tim[j])/1000))
            file.write('<li>' + str(date) + ',        ' + str(nt[j]) + ',         ' + str(a[j]) + '</li>\n')
    file.write('</ul></li>\n')
file.write('</ul></body></html>')
